<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /ProjetFinDeFormation
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_URI} !-f
RewriteCond %{REQUEST_URI} !-d
RewriteCond %{REQUEST_URI} !(\.png|\.jpg|\.gif|\.jpeg|\.map|\.css|\.js|\.ttf|\.webmanifest)$
RewriteRule . index.php [L]
</IfModule>