header {
    width: 100%;
    background-color: $backgroundheader;
    display: grid;
    grid-template-columns: 150px auto 90px 140px 150px 200px;
    color: $headertext;
    font-size: 20px;
    position: fixed;
    padding-bottom: 3px;
    border-bottom: solid 2px $headertext;
    z-index: 9000;
    img {
        height: 100px;
        width: 100px;
    }
    h1 {
        font-size: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    p {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    a {
        color: $bottomtext;
        text-decoration: none;
    }
}