header{
    width: 100%;
    background-color: $backgroundfooter;
    display: grid;
    grid-template-columns: 150px auto 90px 140px 150px 200px;
    color: $bottomtext;
    font-size: 20px; 
    position: fixed;
   
    
    
    

    img{
        height:100px;
        width:100px;
    }

    h1{
        font-size: 70px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    p{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    a{
        color: $bottomtext;
        text-decoration: none ;
    }
}