/*first page*/

html {
    font-size: $font-size;
    font-family: $font-family;
    color: $text-primary;
}

body {
    main {
        background-color: $bgcolor;
        .descriptionville {
            display: flex;
            text-align: justify;
        }
        article {
            flex-basis: 70%;
        }
        img {
            width: 400px;
            padding: 10px;
        }
    }
}