.reser{
    height: 600px;
    background-color: $bgmain;
    display: flex;
    justify-content: center;
    

    .center{
        margin: 125px 0px 15px 0px;
        width: 60%;
        
        background-color: $bgsection;
        color: $textcolor;
        border-radius: 15%;
            div{
                
                margin-top: 10px;
                
                    h3{
                        font-size: 36px;
                        display: flex;
                justify-content: center;
                    }
                    p{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin: 10px 15px ;

                    }
            }
    }
}