.chambre {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 1rem;
    margin: 1.5rem 0;
    padding: 1.5rem;
    border-radius: 0.5rem;

    &:nth-child(even) {
        color: #000000;
        background-color: #ffffff;
    }

    &:nth-child(odd) {
        color: #ffffff;
        background-color: #000000;
    }

    .informations {
        h2 {
            margin-bottom: 0.5rem;
            font-size: 2rem;
            font-weight: 900;
        }

        h3 {
            display: inline-block;
            margin-bottom: 1rem;
            padding: 0.25rem 0.5rem;
            font-size: 1.4rem;
            font-weight: 600;
            color: #ffffff;
            background-color: green;
            border-radius: 0.25rem;
        }

        .description {
            p {
                margin-bottom: 0.5rem;
            }
        }
    }
}
