$text-primary: black;
$bgcolor: yellow;
$textcolor: #292f36;
$bgmain: #003459;
$bgsection: #ebebd3;
$boxs: black;
$backgroundheader:#ffd54f;
$headertext: #003459;
$backgroundfooter:#ebebd3;
$bottomtext: #292f36;